{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Imóvel - Moovin</title>
    <link rel="stylesheet" href="{% static 'immobile/css/style.css' %}">
</head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'immobile/img/logo.png' %}" height="15%" width="15%" alt="Moovin">
            <span>Moovin</span>
        </div>
        <nav>
            <a href="#">Sobre</a>
            <a href="#">Serviços</a>
            <a href="#">Contato</a>
            <div class="perfil-icon"></div>
        </nav>
    </header>

    <div class="progress-bar">
        <div class="step active">
            <div class="circle">1</div>
            <span>Detalhes do imóvel</span>
        </div>
        <div class="step">
            <div class="circle">2</div>
            <span>Detalhes adicionais</span>
        </div>
    </div>

    <main>
        <h2>Agora, conte-nos sobre seu imóvel!</h2>

        <form class="form-container" method="post">
            {% csrf_token %}
            <h3>Informações do Imóvel</h3>

            
            <div class="tipo-imovel">
                {{ form.property_type }}
            </div>

            <label for="{{ form.zip_code.id_for_label }}">{{ form.zip_code.label }}
                {{ form.zip_code }}
            </label>
            {{ form.zip_code.errors }}

            <div class="row">
                <label for="{{ form.state.id_for_label }}">{{ form.state.label }}
                    {{ form.state }}
                </label>
                {{ form.state.errors }}
                <label for="{{ form.city.id_for_label }}">{{ form.city.label }}
                    {{ form.city }}
                </label>
                {{ form.city.errors }}
            </div>

            <div class="row">
                <label for="{{ form.street.id_for_label }}">{{ form.street.label }}
                    {{ form.street }}
                </label>
                {{ form.street.errors }}
                <label for="{{ form.number.id_for_label }}">{{ form.number.label }}
                    {{ form.number }}
                </label>
                {{ form.number.errors }}
                <label class="sem-numero">
                    {{ form.no_number }} {{ form.no_number.label }}
                </label>
                {{ form.no_number.errors }}
            </div>

            <div class="row">
                <label for="{{ form.bedrooms.id_for_label }}">{{ form.bedrooms.label }}
                    {{ form.bedrooms }}
                </label>
                {{ form.bedrooms.errors }}
                <label for="{{ form.bathrooms.id_for_label }}">{{ form.bathrooms.label }}
                    {{ form.bathrooms }}
                </label>
                {{ form.bathrooms.errors }}
                <label for="{{ form.area.id_for_label }}">{{ form.area.label }}
                    {{ form.area }}
                </label>
                {{ form.area.errors }}
                <label for="{{ form.rent.id_for_label }}">{{ form.rent.label }}
                    {{ form.rent }}
                </label>
                {{ form.rent.errors }}
            </div>

            <div class="checkboxes">
                <div><span>{{ form.air_conditioning.label }}</span>
                    {{ form.air_conditioning }}
                </div>

                <div><span>{{ form.garage.label }}</span>
                    {{ form.garage }}
                </div>

                <div><span>{{ form.pool.label }}</span>
                    {{ form.pool }}
                </div>

                <div><span>{{ form.furnished.label }}</span>
                    {{ form.furnished }}
                </div>

                <div><span>{{ form.pet_friendly.label }}</span>
                    {{ form.pet_friendly }}
                </div>

                <div><span>{{ form.nearby_market.label }}</span>
                    {{ form.nearby_market }}
                </div>

                <div><span>{{ form.nearby_bus.label }}</span>
                    {{ form.nearby_bus }}
                </div>

                <div><span>{{ form.internet.label }}</span>
                    {{ form.internet }}
                </div>
            </div>

            <button type="submit">Continuar</button>
        </form>

        
    </main>
</body>
</html>
